main > h2 {
    font-family: var(--font-primary), serif;
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.woocommerce-cart-form__cart-item, .cart-item {
    width: 100%;
    display: grid;
    grid-template-columns: [start] 30% [median-1] 35% [median-2] 35% [end];
    grid-template-rows: [start] 40% [item-name-bottom] 22% [price-bottom] 38% [end];
}

.woocommerce table.shop_table {

}

.woocommerce table.shop_table td {
    /* padding: 0; */
    border-top: unset;
}

/* .woocommerce table.shop_table th {
    display: none;
} */

table > thead {
    display: none;
}

tr:not(:last-child) {
    margin-bottom: 1rem;
}

.product-thumbnail {
    grid-area: start/start/end;
    align-self: center;
    justify-self: center;
}
td.product-name {
    border: unset;
    grid-area: start/median-1/item-name-bottom/end;
    font-size: 2rem;
    text-align: right;
    align-self: center;
}

td.product-name a {
    text-decoration: none;
    color: black;
}

td.product-subtotal {
    grid-area: item-name-bottom/median-2;
    font-size: 1.7rem;
    justify-self: right;
}

td.product-subtotal::before {
    content: "Subtotal for item:";
}

td.product-remove {
    grid-area: price-bottom/median-2;
    align-self: center;
    justify-self: center;
}

td.product-remove::after {
    content: " Remove from cart";
    display: inline;
}

td.product-remove > .remove {
    display: inline;
    border-radius: 2px !important;
    height: 50%;
}

td.product-price {
    font-size: 1.3rem;
    align-self: center;
    justify-self: center;
}

td.product-price::before {
    content: "Price per unit:";
}

input.input-text.qty {
    font-family: var(--font-secondary), sans-serif;
}

td.product-quantity {
    align-self: center;
    display: grid;
    justify-self: center;
    grid-template-columns: repeat(1fr);
    /* align-content: center; */
}

td.product-quantity::before {
    content: "Quantity: ";
    display: inline-block;
}

input#coupon_code {
    width: fit-content;
}



/* CART-COLLATERALS */
.woocommerce .cart-collaterals .cart_totals, .woocommerce-page .cart-collaterals .cart_totals {
    /* all: unset; */
    width: auto;
    min-width: 30rem;
}

.cart_totals > h2 {
    font-family: var(--font-secondary), sans-serif;
}


a.checkout-button.button.alt.wc-forward {
    color: black;
    background: unset;
    /* isolation: isolate; */
    /* position: relative; */
    display: flex;
    flex-direction: row;
    justify-content: center;
}


/* a.checkout-button.button.alt.wc-forward::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 15em;
    aspect-ratio: 3 / 1;
    background: url("../assets/images/button_border.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    overflow-y: visible;
} */

